<html>
<%- include('partials/head') %>
<body>

<%- include('partials/header') %>

<h1><%= title %></h1>

<ul>
    <% movieData.results.forEach(result => { %>

    <li>
        <a href="/<%= result.id %>"><%= result.original_title %></a>
    </li>
    <% }) %>
</ul>
</body>
</html>
